<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= VITE_APP_NAME %></title>
        <!-- <title><%- title %></title> -->
        <!--app-head-->
    </head>
    <body>
        <!-- 占位符 可自定义  -->
        <div id="app"><!--app-html--></div>
        <!-- 引入客户端入口文件 -->
        <script type="module" src="/src/entry-client.js"></script>
    </body>
</html>
